@font-face {
  font-family: "Light";
  src: local("PTSansNarrow-Regular"),
    url("./fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

#root {
  background-color: rgb(245, 245, 245);
  margin: 0;
  font-family: "Light", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blue-background {
  background-color: rgb(66, 133, 244);
}

.chart-tabs {
  color: green;
}

.backGround-img {
  object-fit: cover;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../public/home.jpg");
}

.profile-img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.profile-img:hover {
  cursor: pointer;
  transform: scale(2);
}

.w-90 {
  max-width: 90%;
}
.img-upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.btn-back:hover {
  cursor: pointer;
}
